@model List<TallerMecanico.Models.Auto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Gestion de Talleres</h1>
</div>
<div class="row">
    <div>
        <h2>Sistema de gestion de talleres automotrices</h2>
        <p>Sistema enfocado en la gestion de tareas de cotidanas de un taller de reparaciones automotrices</p>
    </div>
    <div >
        <h2>Contruido sobre</h2>
        <p> Entity Framework 6 en ASP.NET MVC 5 web application..</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    <div class="card">
        <div class="card-header">
            <h5>Lista de Autos</h5>
        </div>
        <div class="card-body">
            <a class="btn btn-success btn-sm" asp-action="Auto_detalle" asp-controller="Home" asp-route-idAuto="0">Crear nuevo</a>
            <hr />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Patente</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Año</th>
                        <th>Color</th>
                        <th>Titular</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Patente</td>
                            <td>@item.Marca</td>
                            <td>@item.Modelo</td>
                            <td>@item.Año</td>
                            <td>@item.Color</td>
                            <td>@item.oTitular.Apellido</td>
                            <td>
                                    <a class="btn btn-primary btn-sm"asp-action="Auto_detalle" asp-controller="Home" asp-route-idAuto="@item.Id">Editar</a>
                                     <a class="btn btn-danger btn-sm"asp-action="Eliminar" asp-controller="Home" asp-route-idAuto="@item.Id">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
</div>
